name: Build WordPress AMI

on:
  push:
    branches:
      - main
  #  paths:
  #    - 'packer/**'

defaults:
  run:
    working-directory: packer

jobs:
  packer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Packer
        run: |
          sudo apt-get update
          sudo apt-get install -y packer

      - name: Build AMI
        working-directory: packer
        run: |
          packer init .
          packer build .